
:root {
}

body {
    background-color: rgb(38, 37, 37);
}

/*HEADER */
header {
    /* placerer headerens dirkete "børn" — logo og ikonsektion — ved siden af hinanden */
    display: flex;
    /* lægger den ledige plads mellem dem, så logoet står til venstre og ikonerne til højre. */
    justify-content: space-between;
    /* - centrerer dem lodret, så de flugter på midten, selvom logoet er højere end ikonerne. */
    align-items: center;

    /* får headeren til at følge med, når man scroller */
    position: sticky;
    /* får den til at blive siddende i toppen */
    top: 0;
    /* gør så den ligger foran sidens indhold */
    z-index: 10;
}

/* Gør at logo er i en bestemt størrelse */
.pulse-logo-oeverst img{
    width: 8rem;
    height: auto;
}

/* Gør at ikonerne er i en bestemt størrelse */
.ikoner-oeverst img {
    width: 2rem;
    height: 2rem;
}

/* laver en boks omkring ikonerne */
.ikoner-oeverst {
   background-color: lightblue; 
   padding: 0.2rem;
   border-radius: 2rem;
}

/* Gør at søgeikonet er lidt væk fra de andre ikoner */
.soegeikon {
    margin-right: 4rem;
}

/* MAIN */
/* HEROSEKTION I TOPPEN */

/* Hele området, hvor billederne bliver vist */
.hero {
    /* gør at billederne ligger ved siden af hinanden */
    display: flex;
    /* bestemmer bredet på billederne */
    width: 800px;
   /* Forhindrer heroen i at blive bredere end skærmen */
    max-width: 100%;
    /* Centrerer hele hero-sektionen vandret */
    margin: 0 auto;
    /* skjuler de biller der ligger rundt om så der kun bliver vist en ad gangen */
    overflow: hidden;
    /* gør overgangen når man trykker på pilene mere flydende */
    scroll-behavior: smooth;
}

/* styling af billederne og pilene */
.slide {
    /* gør at man kan placere pilene oven på billederne */
    position: relative;
    /* gør at billederne fylder min hele "hero" ud */
    min-width: 100%;
}

/* styler billederne inden i slide */
.slide img {
    /* gør de går helt ned til bunden */
    display: block;
    width: 100%;
    height: 600px;
    /* gør billeder ikke strækker og produktet stadig er med */
    object-fit: contain;
}

.venstre-pil,
.hoejre-pil {
    /* gør de bliver placeret oven på billederne */
    position: absolute;
    /* billerne er i midten af billederne */
    top: 50%;
    /* farve på pilene */
    color: black;
    /* fjerne linkstreg */
    text-decoration: none;
    /* størrelsen */
    font-size: 30px;
}

.venstre-pil {
    /* placere pilen x antal px fra venstre */
    left: 60px;
}

.hoejre-pil {
    right: 60px;
}

/* PRODUKTBESKRIVELSEN */

/* FOOTER */

