
:root {
    --tekstfarve: black;
    --kæmpe-overskrift: 40px;
    --stor-overskrift: 35px;
    --lille-overskrift: 28px;
    --rubrikker: 12px;
}

body {
    background-color: rgb(241, 236, 236);
    margin: 0;
}

/*HEADER */
header {
    /* placerer headerens dirkete "børn" — logo og ikonsektion — ved siden af hinanden */
    display: flex;
    /* lægger den ledige plads mellem dem, så logoet står til venstre og ikonerne til højre. */
    justify-content: space-between;
    /* - centrerer dem lodret, så de flugter på midten, selvom logoet er højere end ikonerne. */
    align-items: center;

    /* får headeren til at følge med, når man scroller */
    position: sticky;
    /* får den til at blive siddende i toppen */
    top: 0;
    /* gør så den ligger foran sidens indhold */
    z-index: 10;
}

/* Gør at logo er i en bestemt størrelse */
.pulse-logo-oeverst img{
    width: 8rem;
    height: auto;
}

/* Gør at ikonerne er i en bestemt størrelse */
.ikoner-oeverst img {
    width: 2rem;
    height: 2rem;
}

/* laver en boks omkring ikonerne */
.ikoner-oeverst {
   background-color: lightblue; 
   padding: 0.2rem;
   border-radius: 2rem;
}

/* Gør at søgeikonet er lidt væk fra de andre ikoner */
.soegeikon {
    margin-right: 4rem;
}

/* MAIN */
/* HEROSEKTION I TOPPEN */

/* Hele området, hvor billederne bliver vist */
.hero {
    /* gør at billederne ligger ved siden af hinanden */
    display: flex;
    /* bestemmer bredet på billederne */
    width: 800px;
    /* Forhindrer heroen i at blive bredere end skærmen */
    max-width: 100%;
    /* Centrerer hele hero-sektionen vandret */
    margin: 0 auto;
    /* skjuler de biller der ligger rundt om så der kun bliver vist en ad gangen */
    overflow: hidden;
    /* gør overgangen når man trykker på pilene mere flydende */
    scroll-behavior: smooth;
}

/* styling af billederne og pilene */
.slide {
    /* gør at man kan placere pilene oven på billederne */
    position: relative;
    /* gør at billederne fylder min hele "hero" ud */
    min-width: 100%;
}

/* styler billederne inden i slide */
.slide img {
    /* gør de går helt ned til bunden */
    display: block;
    width: 100%;
    height: 600px;
    /* gør billeder ikke strækker og produktet stadig er med */
    object-fit: contain;
}

.venstre-pil,
.hoejre-pil {
    /* gør de bliver placeret oven på billederne */
    position: absolute;
    /* billerne er i midten af billederne */
    top: 50%;
    /* farve på pilene */
    color: black;
    /* fjerne linkstreg */
    text-decoration: none;
    /* størrelsen */
    font-size: 30px;
}

.venstre-pil {
    /* placere pilen x antal px fra venstre */
    left: 60px;
}

.hoejre-pil {
    right: 60px;
}

/* PRODUKTBESKRIVELSEN */

/* Samlet fra to blokke, så produktbeskrivelsens placering og afstande står ét sted. */
.produktbeskrivelse {
    /* Luft til venstre kant */
    margin-left: 30px;
    /* Grupperne står under hinanden med 30px mellemrum */
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* ALT TEKST I PRODUKTBESKRIVELSEN ER SAMLET HER UNDER */
.produktbeskrivelse h1 {
    color: var(--tekstfarve);
    font-size: var(--kæmpe-overskrift);
}

.produktbeskrivelse h2 {
    color: var(--tekstfarve);
    font-size: var(--stor-overskrift);
}

.produktbeskrivelse h4 {
    color: var(--tekstfarve);
    font-size: var(--lille-overskrift);
}

.produktbeskrivelse h6 {
    color: var(--tekstfarve);
    font-size: var(--rubrikker);
}

.produktbeskrivelse img {
    width: 10rem;
    height: auto;
}

/* her er boksen til størrelser */
.boks-one-size {
    width: 6rem;
    height: 2rem;
    /* kant rundt om knappen */
    border: 2px solid black;
    color: black;
    font-size: var(--rubrikker);

    /* gør man kan centere i de to næste */
    display: flex;
    /* centerer vandret */
    justify-content: center;
    /* centerer lodret */
    align-items: center;
}

/* her er de tre cirkler med farve mulighederne i */

    /* overordnet afstand mellem cirklerne */
    .farve-cirkler {
        /* flex placerer cirklerne fra starten af rækken */
        display: flex;
        /* centrerer dem lodret i forhold til hinanden */
        align-items: center;
        gap: 4px;

        /* gør musen til en pointer når den er over cirklerne */
        cursor: pointer;
    }

    /* skaber en hover effekt over alle cirklerne */
    .cirkel-sort:hover,
    .cirkel-blå:hover,
    .cirkel-grøn:hover {
        /* cirklerne er normalt 1 og når de så hover til 1.05 bliver de lidt større */
        scale: 1.05;
    }

    /* Fælles størrelse og runding står kun én gang, fordi alle tre cirkler bruger det samme. */
    .cirkel-sort,
    .cirkel-blå,
    .cirkel-grøn {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;

        transition: scale 0.2s;
    }

    /* Kun kantfarve og baggrund er forskellige fra cirkel til cirkel. */
    .cirkel-sort {
        border: 2px solid black;
        background-color: rgb(37, 37, 37);
    }

    .cirkel-blå {
        border: 2px solid rgb(1, 1, 90);
        background-color: navy;
    }

    .cirkel-grøn {
        border: 2px solid rgb(1, 65, 1);
        background-color:darkgreen;
    }

/* her er køb-knappen */
.kurv-knap {
    width: 10rem;
    height: 3rem;
    background-color: navy;
    border: 2px solid black;
    font-size: var(--rubrikker);
    color: white;

    cursor: pointer;
    transition: 0.2s;
}

.kurv-knap:hover {
    scale: 1.02;
}

/* HER LAVER VI GRUPPERINGERNE TYDELIGE */
    .produktgruppe {
        /* gør man kan bestemme position */
        display: flex;
        /* gør de kommer til at stå over hinanden */
        flex-direction: column;
        /* afstand */
        gap: 6px;
    }

/* Vi mangler at fjerne tekstens indbygget afstand */
    .produktbeskrivelse h1,
    .produktbeskrivelse h2,
    .produktbeskrivelse h4,
    .produktbeskrivelse h6 {
        margin: 0;
    }

/* BILLEDER AF MÆNDENE */
.billeder {
    display: flex;
    /* Lægger billederne direkte under hinanden uden mellemrum */
    flex-direction: column;
}

.billeder img {
    width: 100%;
    height: auto;
}

.billeder > div {
    position: relative;
    display: flex;
    align-items: center;
}

.billeder button {
    /* placerer teksten ovenpå billedet */
    position: absolute;
    /* bestemmer afstand til venstreside */
    left: 30px;

    background: transparent;
    border: none;
    font-size: 100px;
    color: white;

    /* gør at musen bliver til en trykmus */
    cursor: pointer;
    /* gør hover effekten tager x antal sekunder */
    transition: 0.2s;
}

/* her laver vi hover effekt */
.billeder button:hover {
    /* 1 er den størrelse den er nu så 1.05 gør den bliver større når cursoren er på */
    scale: 1.05;
}

/* der skal være mellemrum over det første billede */
.batteri {
    margin-top: 100px;
}

/* FOOTER */
footer {
    margin-top: 30px;
    background-color: black;

    /* Luft på alle fire sider inde i footeren */
    padding: 40px;

    /* kanpper og logoer ved siden af hinanden */
    display: flex;
    /* knapper til venstre og logo til højre */
    justify-content: space-between;
    /* centrer de to grupper */
    align-items: center;
}

.footer-knapper {
    width: 30rem;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 20px; 
}

/* LOGOER TIL SOCIALE MEDIER */
.sociale-medier {
    display: flex;
    /* Centrerer logoerne lodret i rækken */
    align-items: center;
    gap: 20px; 
}

.sociale-medier img {
    /* fjerner den ekstra plads under billeder */
    display: block;
    width: 6rem;
    height: 6rem;
}
